# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
google-services.json
flutter-bloc-aula1/.gitattributes
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/.gitignore
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/.metadata
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/pubspec.lock
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/pubspec.yaml
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/README.md
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/build.gradle
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/gradle.properties
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/settings.gradle
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/app/build.gradle
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/app/src/debug/AndroidManifest.xml
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/app/src/main/AndroidManifest.xml
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/app/src/main/kotlin/br/com/alura/bytebank/MainActivity.kt
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/app/src/main/res/drawable/launch_background.xml
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/app/src/main/res/values/styles.xml
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/app/src/profile/AndroidManifest.xml
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/android/gradle/wrapper/gradle-wrapper.properties
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/images/bytebank_logo.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Flutter/AppFrameworkInfo.plist
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Flutter/Debug.xcconfig
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Flutter/Release.xcconfig
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/AppDelegate.swift
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Info.plist
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Runner-Bridging-Header.h
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Base.lproj/LaunchScreen.storyboard
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner/Base.lproj/Main.storyboard
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner.xcodeproj/project.pbxproj
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/ios/Runner.xcworkspace/contents.xcworkspacedata
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/main.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/components/centered_message.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/components/progress.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/components/response_dialog.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/components/theme.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/components/transaction_auth_dialog.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/database/app_database.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/database/dao/contact_dao.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/http/webclient.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/http/interceptors/logging_interceptor.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/http/webclients/transaction_webclient.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/models/contact.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/models/transaction.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/screens/contact_form.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/screens/contacts_list.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/screens/counter.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/screens/dashboard.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/screens/name.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/screens/transaction_form.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/lib/screens/transactions_list.dart
flutter-bloc-aula1/video1.4/flutter-webapi-2-master/test/widget_test.dart
